<div style="margin-top: 25px; margin-bottom: 25px;"
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3"><img
                            src="assets/demo/images/login/facturhero-logo.png" alt="Image" height="50" class="mb-3">
                    </div>
                    <span class="text-600 font-medium">Create an account to continue to Facturhero</span>
                </div>
                <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="grid formgrid">
                        <div class="col-6 mb-3 lg:col-6 lg:mb-3">
                            <label for="firstname" class="block text-900 text-xl font-medium mb-2">First name</label>
                            <input id="firstname" formControlName="firstName" type="text" pInputText
                                style="width: 195px;" placeholder="First Name" />
                            <div *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)"
                                class="alert alert-danger">
                                <div class="validator" *ngIf="registerForm.controls['firstName'].errors['required']">
                                    First Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-3 lg:col-6 lg:mb-3">
                            <label for="lastname" class="block text-900 text-xl font-medium mb-2">Last name</label>
                            <input id="lastname" formControlName="lastName" type="text" pInputText style="width: 195px;"
                                placeholder="Last name" />
                            <div *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)"
                                class="alert alert-danger">
                                <div class="validator" *ngIf="registerForm.controls['lastName'].errors['required']">
                                    Last Name is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label for="cname" class="block text-900 text-xl font-medium mb-2">Company name</label>
                            <input id="cname" type="text" formControlName="name" placeholder="Company name" pInputText
                                class="w-full md:w-30rem" style="padding:1rem">
                            <div
                                *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['name'].errors['required']">
                                    Company Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input id="email" type="text" formControlName="email" placeholder="Email address" pInputText
                                class="w-full md:w-30rem" style="padding:1rem">
                            <div
                                *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['email'].errors['required']">
                                    Email is required.
                                </div>
                                <div class="validator" *ngIf="registerForm.controls['email'].errors['email']">
                                    Email must be a valid email address.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ruc" class="block text-900 text-xl font-medium mb-2">RUC</label>
                            <input id="ruc" type="text" formControlName="userRuc" placeholder="RUC" pInputText
                                class="w-full md:w-30rem " style="padding:1rem">
                            <div
                                *ngIf="registerForm.controls['userRuc'].invalid && (registerForm.controls['userRuc'].dirty || registerForm.controls['userRuc'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['userRuc'].errors['required']">
                                    RUC is required.
                                </div>
                                <div class="validator" *ngIf="registerForm.controls['userRuc'].errors['minlength'] || registerForm.controls['userRuc'].errors['maxlength'] || registerForm.controls['userRuc'].errors['pattern']">
                                    Please enter a valid RUC.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="web-page" class="block text-900 text-xl font-medium mb-2">Web page (optional)</label>
                            <input id="web-page" type="text" formControlName="userWeb" placeholder="Web page" pInputText
                                class="w-full md:w-30rem " style="padding:1rem">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="block text-900 text-xl font-medium mb-2">Phone number</label>
                            <input id="phone" type="text" formControlName="phone" placeholder="Phone number" pInputText
                                class="w-full md:w-30rem " style="padding:1rem">
                            <div
                                *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['phone'].errors['required']">
                                    Phone number is required.
                                </div>
                            </div>
                        </div>
                        <br>
                        <p-card subheader="Address">
                            <div class="form-group">
                                <div class="grid formgrid">
                                    <div class="col-6 mb-3 lg:col-6 lg:mb-3">
                                        <p-dropdown [options]="provinces" optionLabel="provincia"
                                            formControlName="province" optionValue="provincia"
                                            (onChange)="onChangeProvince(this.registerForm.get('province').value)"
                                            [filter]="true" filterBy="provincia" [showClear]="true"
                                            placeholder="Select a Province">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="flex align-items-center gap-2"
                                                    *ngIf="this.registerForm.get('province')">
                                                    <div>{{ this.registerForm.get('province').value }}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                    <div class="col-6 mb-3 lg:col-6 lg:mb-3">
                                        <p-dropdown *ngIf="cantons?.length>0" [options]="cantons" optionLabel="canton"
                                            formControlName="canton" optionValue="canton"
                                            (onChange)="onChangeCanton(this.registerForm.get('canton').value)"
                                            [filter]="true" filterBy="canton" [showClear]="true"
                                            placeholder="Select a City">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="flex align-items-center gap-2"
                                                    *ngIf="this.registerForm.get('canton')">
                                                    <div>{{ this.registerForm.get('canton').value }}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div style="max-width: 20rem;"
                                *ngIf="registerForm.controls['province'].invalid && (registerForm.controls['province'].dirty || registerForm.controls['province'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['province'].errors['required']">
                                    Province is required.
                                </div>
                            </div>
                            <div style="max-width: 20rem;"
                                *ngIf="registerForm.controls['canton'].invalid && (registerForm.controls['canton'].dirty || registerForm.controls['canton'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['canton'].errors['required']">
                                    City is required.
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="address1" type="text" formControlName="address" placeholder="Line 1"
                                    pInputText class="w-full md:w-20rem " style="padding:1rem">
                                <div style="max-width: 20rem;"
                                    *ngIf="registerForm.controls['address'].invalid && (registerForm.controls['address'].dirty || registerForm.controls['address'].touched)">
                                    <div class="validator" *ngIf="registerForm.controls['address'].errors['required']">
                                        Line 1 is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="address2" type="text" formControlName="addressDetail" placeholder="Line 2 (optional)"
                                    pInputText class="w-full md:w-20rem " style="padding:1rem">
                            </div>
                            <div class="form-group">
                                <input type="text" formControlName="zipCode" placeholder="ZIP Code (optional)" pInputText
                                    class="w-full md:w-20rem " style="padding:1rem">
                            </div>
                        </p-card>
                        <br>
                        <div class="form-group">
                            <p-password id="password2" formControlName="password" [toggleMask]="true"
                                placeholder="Password" styleClass=""
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                            <div
                                *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                                <div class="validator" *ngIf="registerForm.controls['password'].errors['required']">
                                    Password is required.
                                </div>
                                <div class="validator" *ngIf="registerForm.controls['password'].errors['minlength']">
                                    Password must be at least 6 characters.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p-password id="password2" formControlName="password_confirmation" [toggleMask]="true" pattern="{{ registerForm.controls['password'].value}}"
                                placeholder="Confirm password" styleClass=""
                                inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                            <div
                                *ngIf="registerForm.controls['password_confirmation'].invalid && (registerForm.controls['password_confirmation'].dirty || registerForm.controls['password_confirmation'].touched)">
                                <div class="validator"
                                    *ngIf="registerForm.controls['password_confirmation'].errors['required']">
                                    Password confirmation is required.
                                </div>
                            </div>
                            <ng-container *ngIf="registerForm.controls['password_confirmation'].invalid && submitted===true && (registerForm.controls['password_confirmation'].dirty || registerForm.controls['password_confirmation'].touched)">
                                <div class="validator"
                                    *ngIf="registerForm.controls['password_confirmation'].errors['pattern']">
                                    Password & Confirm Password does not match
                                </div>
                            </ng-container>
                        </div>
                        <div class="flex align-items-center justify-content-between  gap-5">
                            <a routerLink="/auth/login" class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)">Already have an account? Sign in instead.</a>
                        </div>
                        <button pButton pRipple label="Sign Up" type="submit" class="w-full p-3 text-xl"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
